<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @{
        Html.RegisterStylesheet("~/Content/Site.css");
        Html.RegisterScript("~/Scripts/jquery-1.5.1.js");
    }
    @Html.RenderCss()
</head>

<body>
    <h1>Welcome to Moth</h1>
    @Html.DataUriImage("http://www.ourwildlifephotography.com/gallery_insects/insects_eyed_hawk_moth.jpg")
    <p>Moth is a ready-to-use library for ASP.NET MVC, that minimizes requests.</p>

    @RenderBody()

    @{ Html.RegisterScript("~/Scripts/modernizr-1.7.js"); }

    @Html.RenderScripts()
</body>
</html>
